.news {
    height: 100%;
    background: #f2f2f2;
    display: block;
}

.blog__heading {
    text-align: center;
}

.news h1 {
    padding-top: 4rem;
    font-weight: 200;
    color: #b1b5b9;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 5rem;
}

.card img {
    width: 100%;
}

.card__content {
    flex-grow: 1;
    width: 33%;
    flex: 1 1 30rem;
    padding-bottom: 3.5rem;
    margin: 4rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background: #ffffff;
}

/* large Desktop */
@media only screen and (min-width: 1920px) {
    .card__content {
        flex: 1 1 50rem;
    }
}

@media only screen and (min-width: 1520px) {
    .card__content {
        flex: 1 1 40rem;
    }
}

.card h3, p, small {
    padding: 1rem;
}

.tags {
    display: inline-block;
    flex-wrap: wrap;
    color: #ffffff;
    margin-top: 2rem;
}

.tags small {
    background: #b1b2b6;
    text-transform: uppercase;
    margin: 1rem;
}
